        body{
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
         }

        h1,
        p{
            text-align: center;
            text-transform: uppercase;
        }
       
        .title{
            font-size: 40px;
            border: none;
            color:black;
            font-family: inherit;
            font-weight: bold;
            margin-top:30px;
            background-color: transparent;
            text-align: center;
            text-transform: uppercase;
            
        }

        input.subTitle{
            font-size: 24px;
            font-family: inherit;
            font-weight: bold;
            border:none;
            color:black;
            margin-top:5px;
            text-align: center;
            background-color: transparent;
            
        }

        textarea{
            height: 700px;
            width: 600px;
            font-size:18px;
            font-family: inherit;
            border:none;
            background-color: transparent;
            text-align: justify;
            margin-top:15px;
            resize: none;
            
            
        }

        textarea:focus{
           box-shadow:  0 0 0 0;
           border:none;
           outline: 0;


        }
        .pageCap1{
            padding: 30px;
            width: 600px;
            height: auto;
            margin: auto;
            background-color: beige;
            text-decoration: none;
            list-style: none;
            text-align: center;
        }

        button{
            margin:auto;
            text-align: center;
        }

       