


.default{
  background-color:#ece8d9;
  color:#2c2828;
  font-family: 'Lora', serif;
}

.desert-sand{
  background-color: #ffe5ab;
  color:#f95959;
  font-family: 'Libre Baskerville', serif;

}

.dark-green{
  background-color:#2c2828;
  color:#a1c45a;
  font-family: 'Kosugi Maru', sans-serif;

}

